<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jeremycherfas.smartify-quotes</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7A0FB156-17F1-4CB7-B845-BBB2024CB33B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>063801C1-F1A6-49AC-A7E9-36B683E890D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7CE8C46-3896-4854-B418-82608763A540</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A0FB156-17F1-4CB7-B845-BBB2024CB33B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy Cherfas</string>
	<key>description</key>
	<string>Converts straight quotes to smart quotes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Smartify quotes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>'</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D7CE8C46-3896-4854-B418-82608763A540</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>063801C1-F1A6-49AC-A7E9-36B683E890D5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 smartify-alfred.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A0FB156-17F1-4CB7-B845-BBB2024CB33B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Intended for my use with Byword, when I am writing posts that have YAML fontmatter. Smart quotes break the YAML, but straight quotes in the body are not rendered typographically by my CMS. 

This workflow allows me to select the body text, hit the trigger, and have the smartified text pasted back directly.</string>
	<key>uidata</key>
	<dict>
		<key>063801C1-F1A6-49AC-A7E9-36B683E890D5</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>7A0FB156-17F1-4CB7-B845-BBB2024CB33B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>D7CE8C46-3896-4854-B418-82608763A540</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://jeremycherfas.net/blog/converting-straight-quotes-with-alfred</string>
</dict>
</plist>
